<?xml version="1.0"?>
<launch>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find assignment_pkg)/worlds/assignment2.world"/>	    
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="recording" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <include file="$(find rosbot_bringup)/launch/rosbot_gazebo.launch"/>

  <node name="markers_node" pkg="assignment_pkg" type="markers_node" output="screen"/>

  <node name="image_view" pkg="image_view" type="image_view" output="screen">
     <remap from="image" to="/markers_node/result"/>
  </node>
  
  <rosparam file="$(find rosbot_description)/config/joint_state_controller.yaml" command="load" ns="/exp_rob" />
  <node name="controller_spawner" pkg="controller_manager" type="spawner" output="screen" args="--namespace=/exp_rob joint_state_controller"></node>

  <include file="$(find assignment_pkg)/launch/rosplan_init.launch"></include>

  <include file="$(find rosbot_bringup)/launch/gmapping.launch"></include>

  <include file="$(find assignment_pkg)/launch/move_base.launch"></include>
</launch>

